.more { background: url('../img/p15.png') no-repeat left center; width: 15px; height: 15px; display: inline-block; float: right; cursor: pointer; }
.less { background: url('../img/l15.png') no-repeat left center; width: 15px; height: 15px; display: inline-block; float: right; }
a { position: relative; z-index: 20; }
.right { text-align: right; }
.walletarea { display: none; border: 2px solid #eab300; }
hr { margin: 20px 0; border-top: 2px dashed #eab300; }
.keyarea { height: 110px; text-align: left; position: relative; padding: 5px; }
.keyarea .public { float: left; }
.keyarea .pubaddress { display: inline-block; height: 40px; padding: 0 0 0 10px; float: left; }
.keyarea .privwif { margin: 0;  float: right; text-align: right; padding: 0 20px 0 0; position: relative; }
.keyarea .label { font-weight: bold; }
.keyarea .output { display: block; font-family: monospace; font-size: 1.25em; }
.keyarea .qrcode_public { display: inline-block; float: left; }
.keyarea .qrcode_private { display: inline-block; position: relative; top: 28px; float: right; }
.pubkeyhex { word-wrap: break-word; }
body { font-family: Arial; }
body, html { height: 99%; }
.faqs ol { padding: 0 0 0 25px; }
.faqs li { padding: 3px 0; }
.question { padding: 10px 15px; text-align: left; cursor: pointer; }
.question:hover, .expandable:hover { color: #77777A; }
.answer { padding: 0 15px 10px 25px; text-align: left; display: none; font-size: 80%; }
.faq { border: 0; border-top: 2px solid #eab300; }
.button { margin-left: 5px; margin-right: 5px; }
input[type=checkbox] { position: relative; z-index: 20; }

#wallets { clear: both; }
#bitcoinaddress, #bitcoinprivwif, #detailaddress, #detailaddresscomp, #detailprivwif, #detailprivwifcomp { font-family: monospace; font-size: 1.25em; }
#seedpoolarea { display: none; }
#seedpooldisplay {  font-family: monospace; font-size: 1em; width: 640px; padding: 15px 5px; word-wrap: break-word; }
.seedpoint { width: 6px; height: 6px; display: block; border-radius: 3px; background-color: #eab300; position: absolute; z-index: 10; }
#generate { font-family: monospace; font-size: 1.25em; height: 305px; text-align: left; position: relative; padding: 5px; border: 2px solid #eab300; clear: both; }
#generate span { padding: 5px 5px 0 5px; }
#generatekeyinput { position: relative; z-index: 20; }
#keyarea { height: 430px; }
#keyarea .pubaddress { float: none; display: block; padding: 0; height: auto; }
#keyarea .label { text-decoration: none; }
#keyarea .privwif { float: none; text-align: right; position: relative; padding: 0; }
#keyarea .qrcode_public { float: none; display: block; padding: 13px 11px 11px 11px; }
#keyarea .qrcode_private { float: none; display: block; top: 0; text-align: right; padding: 13px 11px 11px 11px; }
#keyarea .private { width: 30%; display: table-cell; }
#keyarea .public { width: 30%; display: table-cell; }
#singlearea { font-size: 90%; }
#singlesecret { position: relative; top: -130px; float: right; right: 200px; color: red; font-weight: bolder; font-size: 200%;  }
#singleshare { position: relative; top: -110px; float: left; left: 160px; color: #eab300; font-weight: bolder; font-size: 200%;  }
#singlesafety { text-align: left; padding: 5px; border-top: 2px solid #eab300; top: -25px; position: relative; }

#main { position: relative; text-align: center; margin: 0px auto; width: 808px; }
#logo { width: 800px; height: 205px; }
		
#paperarea { min-height: 120px; display: none; }
#paperarea .keyarea { border: 2px solid #eab300; border-top: 0; }
#paperarea .keyarea.art { display: block; height: auto; border: 0; font-family: Ubuntu, Arial; padding: 0; margin: 0; }
#paperarea .artwallet .papersvg { width: 800px; height: 430px; border: 1px solid #000000; margin-top: 5px; margin-bottom: 5px; padding: 2px; left: 0; }
#paperarea .artwallet .qrcode_public { top: 60px; left: 25px; z-index: 100; margin: 0; float: none; display: block; position: absolute; background-color: #FFFFFF; 
		                                padding: 5px 5px 2px 5px; } 
#paperarea .artwallet .qrcode_private { top: 120px; left: 588px; z-index: 100; margin: 0; float: none; display: block; position: absolute; background-color: #FFFFFF; 
		                                padding: 5px 5px 2px 5px; }
#paperarea .artwallet .bitcoinaddress  
{
	position: absolute; bottom: 40px; left: 240px; z-index: 100; font-size: 11px; background-color: transparent;
	font-weight:bold; color: #000000; margin: 0;
		-webkit-transform-origin:top left; -webkit-transform:rotate(-90deg);
		-moz-transform-origin:top left;    -moz-transform:rotate(-90deg);
		-ms-transform-origin:top left;     -ms-transform:rotate(-90deg);
		-o-transform-origin:top left;      -o-transform:rotate(-90deg);
		transform-origin:top left;         transform:rotate(-90deg);
} 
#paperarea .artwallet .bitcoinprivwif  
{
	position: absolute; bottom: 40px; left: 550px; z-index: 100; font-size: 11px; background-color: transparent;
	font-weight:bold; color: #000000; margin: 0;  
		-webkit-transform-origin:top left; -webkit-transform:rotate(-90deg);
		-moz-transform-origin:top left;    -moz-transform:rotate(-90deg);
		-ms-transform-origin:top left;     -ms-transform:rotate(-90deg);
		-o-transform-origin:top left;      -o-transform:rotate(-90deg);
		transform-origin:top left;         transform:rotate(-90deg);
}
#paperarea .artwallet .bitcoinencryptedkey
{
	position: absolute; bottom: 40px; left: 550px; z-index: 100; font-size: 11px; background-color: transparent;
	font-weight:bold; color: #000000; margin: 0;  
		-webkit-transform-origin:top left; -webkit-transform:rotate(-90deg);
		-moz-transform-origin:top left;    -moz-transform:rotate(-90deg);
		-ms-transform-origin:top left;     -ms-transform:rotate(-90deg);
		-o-transform-origin:top left;      -o-transform:rotate(-90deg);
		transform-origin:top left;         transform:rotate(-90deg);
}
#bulkarea .body { padding: 5px 0 0 0; }
#bulkarea .format { font-style: italic; font-size: 90%; }
#bulktextarea { font-size: 90%; width: 98%; margin: 4px 0 0 0; }
#brainarea .keyarea { visibility: hidden; min-height: 110px; }
#brainview { margin-left: 5px; }
#detailkeyarea { padding: 10px; }
#detailarea { margin: 0; text-align: left; }
#detailarea .notes { text-align: left; font-size: 80%; padding: 0 0 20px 0; }
#detailarea .pubqr .item .label { text-decoration: none; }
#detailarea .pubqr .item { float: left; margin: 10px 0; position: relative; }
#detailarea .pubqr .item.right { float: right; position: relative; top: 0; } 
#detailarea .privqr .item .label { text-decoration: none; }
#detailarea .privqr .item { float: left; margin: 0; position: relative; }
#detailarea .privqr .item.right { float: right; position: relative; } 
#detailarea .item { margin: 10px 0; position: relative; font-size: 90%; padding: 1px 0; }
#detailarea .item.clear { clear: both; padding-top: 10px; }
#detailarea .label { display: block; font-weight: bold; }
#detailarea .output { display: block; font-family: monospace; font-size: 1.25em; }
#detailarea #detailqrcodepublic { position: relative; float: left; margin: 0 10px 0 0; padding: 13px 11px 11px 11px; }
#detailarea #detailqrcodepubliccomp { position: relative; float: right; margin: 0 0 0 10px; padding: 13px 11px 11px 11px; }
#detailarea #detailqrcodeprivate { position: relative; float: left; margin: 0 10px 0 0; padding: 13px 11px 11px 11px; }
#detailarea #detailqrcodeprivatecomp { position: relative; float: right; margin: 0 0 0 10px; padding: 13px 11px 11px 11px; }
#detailarea #detailqrcodeprivatebip38 { position: relative; margin: 0 10px 0 0; padding: 13px 11px 11px 11px; }
#detailpubkey { width: 590px; }
#detailbip38commands { display: none; padding-top: 5px; }
#detailbip38toggle { padding-top: 5px; }
#vanityarea { text-align: left; }
#vanityarea .label { text-decoration: underline; }
#vanityarea .output { font-family: monospace; font-size: 1.25em; display: block; }
#vanityarea .notes { text-align: left; font-size: 80%; padding: 0 0 20px 0; }
#vanitystep1area { display: none; text-align: left; position: relative; padding: 15px; border-bottom: 2px solid #eab300; }
#vanitystep1label { padding-left: 5px; }
#vanitystep2area { border-top: 2px solid #eab300; display: block; padding: 15px; }
#vanitystep2inputs { padding: 0 15px 10px 15px; }
#vanitycalc { margin-top: 5px; }

#splitarea { text-align: left; }
#splitarea span { padding: 0; }
#splitcommands { padding: 10px 15px; text-align: left; }
#combinecommands { padding: 10px 15px; }
#splitstep1area { display: none; text-align: left; position: relative; padding: 0; border-bottom: 2px solid #eab300; }
.splitsharerow { border-bottom: 2px solid #eab300; padding: 15px; }
.splitsharerow:last-child { border-bottom: 0; }
#combinelabelprivatekey { text-decoration: underline; }
#splitarea .output { display: block; font-family: monospace; font-size: 1.25em; }
#splitarea span.output { display: inline; }
#splitstep2area { padding:  10px 15px; }

.englishjson { text-align: center; padding: 40px 0 20px 0; }
.unittests { text-align: center; }
.unittests div { width: 894px; font-family: monospace; text-align: left; margin: auto; padding: 5px; border: 1px solid black; }
#testnet { display: none; background-color: Orange; color: #000000; border-radius: 5px; font-weight: bold; padding: 10px 0; margin: 0 auto 20px auto; }
.hide { display: none; }
.show { display: block; }
		
@media screen 	
{
	#tagline { margin: 0 0 15px 0; font-style: italic; }
	.menu  
	{
	    text-align: left; margin: 0; padding: 0; display: block;
	    background-color: #eab300; /* # 009900 # 53c100 */
	    border-top-left-radius: 5px; border-top-right-radius: 5px;
	}
	.menu .tab 
	{
	    position: relative; display: inline-block; border: 0px solid red;
	    margin: 0; list-style: none; z-index: 110; cursor: pointer; 
	    top: 1px; padding: 10px 20px; width: 162px; text-align: center;
	}
	.menu .tab.selected  
	{
	    cursor: default; 
	    background-color: #FFF; margin: 6px 16px; padding: 4px; border-radius: 5px; 
	}
	.menu .tab:hover  
	{
	    background-color: #FFF; margin: 6px 16px; padding: 4px; border-radius: 5px; 
	}
	.menu .tab.selected:hover { color: #000; }
	
    .pagebreak { height: 50px; }
	.commands { border-bottom: 2px solid #eab300;  padding: 10px 2px; margin-bottom: 0; }
	.commands .row { padding: 0 0; text-align: left; } 
	.commands .row.extra { padding-top: 6px; }
	.commands span { padding: 0 10px; }
	.commands span.print { float: right; position: relative; z-index: 20; }
	.commands span.right { float: right; }
	.expandable { padding: 10px 15px; text-align: left; cursor: pointer; }

    #menu { visibility: visible; font-size: 90%; }
    #culturemenu { text-align: center; padding: 0 5px 5px 5px; margin-bottom: 2px; font-size: 8pt; }
    #culturemenu span { padding: 3px; }
    #culturemenu .selected { text-decoration: none; color: #000000; }
    .culturemenurow { padding: 2px 0; }

	#braincommands .row .label { width: 200px; display: inline-block; }
	#braincommands .notes { font-size: 80%; display: block; padding: 5px 10px; }
	#brainpassphrase { width: 280px; position: relative; z-index: 20; }
	#brainpassphraseconfirm { width: 280px; position: relative; z-index: 20; }
    #brainpassphraseshow { position: relative; z-index: 20; }
    #brainview { position: relative; z-index: 20; }
	#brainalertpassphrasewarning {color: #ff0000;  }
	#detailcommands { padding: 10px 0; }
	#detailcommands span { padding: 0 10px; }
	#detailprivkey { width: 460px; position: relative; z-index: 20; }
	#detailprivkeypassphrase { width: 250px; position: relative; z-index: 20; }
	#detailcommands .button { position: relative; z-index: 20; }
	#detailbip38encryptspan { display: none; }
	.paper .commands { border: 2px solid #eab300; }
	#bulkstartindex, #paperlimit, #paperlimitperpage { width: 35px; } 
	#bulklimit { width: 45px; }
			
	.footer { font-size: 90%; clear: both; width: 770px; padding: 10px 0 10px 0; margin: 50px auto auto auto; }
	.footer div span.item { padding: 10px; }
	.footer .author { float: left; width: 470px; }
	.footer .author span.item { text-align: left; display: block; padding: 0 20px; }
	.footer .author div { position: relative; z-index: 100; }
	.footer .authorpgp { position: relative; }
	.footer .authorpgp span.item { text-align: right; display: block; padding: 0 20px; }
	.footer .copyright { font-size: 80%; clear: both; padding: 5px 0; }
	.footer .copyright span { padding: 10px 2px; }
    .footer .tooltip { display: none; text-align: left; border: 2px solid #eab300; background-color: #FFFFF6; margin: 5px; padding: 10px; top: 0px; position: relative;  }
	.footer .statusgood { color: #eab300; font-weight: bold; }
    .footer .statuswarn { color: #eab300; font-weight: bold; }
	.footer .statusbad { color: red; font-weight: bold; }
    .footer .statusicon { background-color: none; font-size: 120%; padding: 1px 2px; }
    .footer .statusicon:hover { background-color: #eab300; cursor: pointer; }
}
@media print
{
	#main { width: auto; }
	#singlearea { border: 0; }
	#singlesafety { border: 0; }
	#paperarea .keyarea:first-child { border-top: 2px solid #eab300; }
	#paperarea .keyarea.art:first-child { border: 0; }
	.pagebreak { height: 1px; }
	.paper #logo { display: none; }
	.papersvg {border: #000000;}
	.menu, .footer, .commands, .tip, #tagline, #faqs, #culturemenu { display: none; }
	#detailprivwif { width: 285px; word-wrap: break-word; }
	#detailprivwifcomp { width: 310px; word-wrap: break-word; text-align: right; }
	#detailarea .privqr .item.right { width: 310px; }
	#detailarea .privqr .item { width: 285px; }
	#detailarea .notes { display: none; }
	#seedpoolarea { display: none; }
	.faq { display: none; }
}


input:focus {
    outline: none !important;
    border:1px solid #eab300;
    box-shadow: 0 0 10px #eab300;
}

a:link, a:visited {
	color: #eab300;
	font-size: 8pt;
	text-decoration: none;
  }

.tip {
	text-align: left;
}